{% extends "base.html" %}
{% block title %}年级班级管理{% endblock %}
{% block content %}
<div class="level">
    <div class="level-left">
        <h1 class="title">年级班级管理</h1>
    </div>
    <div class="level-right">
        <button class="button is-primary" hx-get="/grade-classes/new" hx-target="#modal" hx-swap="innerHTML">
            <span class="icon"><i class="fas fa-plus"></i></span>
            <span>添加班级</span>
        </button>
    </div>
</div>

<div class="box">
    <table class="table is-fullwidth is-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>年级</th>
                <th>班级名称</th>
                <th>班号</th>
                <th>班主任</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="class-list">
            {% for cls in classes %}
            {% include 'grade_class/_row.html' %}
            {% endfor %}
        </tbody>
    </table>
    {% if not classes %}
    <p class="has-text-centered has-text-grey py-6">暂无数据</p>
    {% endif %}
</div>
{% endblock %}
